p {background-color: green;color: white;}
/* <section>=element,#about=id, #contact, .box=class */
section {border: 2px solid black; padding: 10px; margin: 10px;background-color: blanchedalmond;color: black;}